{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('annonce_new') }}" class="button btn btnnew text-right text-white">Déposer une annonce</a>
        <h1 class="text-center mb-4">Liste des annonces</h1>
        {% for annonce in annonces %}
            <div class="card mb-3" style="max-height: 300px;">
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <img src="{{ asset('uploads/images/annonces/')}}{{ annonce.image }}" class="imagesannonce" style="max-height: 200px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h4 class="mb-2"><a href="{{ path('annonce_show', {'id': annonce.id}) }}">{{ annonce.titre }}</a></h4>
                                    <p class="mb-3 text-warning font-weight-bold">Type: {{ annonce.type }}</p>
                                </div>
                                <div class="col-4">
                                    {% if is_granted("ROLE_USER") and app.user.id != annonce.user.id %}
                                        {% for favoris in annonce.favoris %}
                                            {% if favoris.id == app.user.id %}
                                                <a href="{{ path('retrait_favoris', {id: annonce.id}) }}"><ion-icon name="heart"></ion-icon>En favoris</a>
                                            {% else %}
                                                <a href="{{ path('ajout_favoris', {id: annonce.id}) }}"><ion-icon name="heart-outline"></ion-icon>ajouter aux Favoris</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path('ajout_favoris', {id: annonce.id}) }}"><ion-icon name="heart-outline"></ion-icon>ajouter aux Favoris</a> 
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-4">
                                    <p class="text-right prix">{{ annonce.prix }}€</p>
                                </div>
                            </div>
                                <p class="card-text">{{ annonce.description }}</p>
                            <div class="row">
                                <div class="col-3 mt-5">
                                    <p class="text-info"><strong>Catégorie: {{ annonce.categorie }}</strong></p>
                                </div>
                                <div class="col-2 mt-5">
                                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="button btn text-white">Voir</a>
                                </div>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == annonce.user.id %}
                                    <div class="col-2 mt-5">
                                        <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="button btn text-white">Modifier</a>
                                    </div>
                                    <div class="col-2 mt-5">
                                       {{ include('annonce/_delete_form.html.twig') }}
                                    </div>
                                {% endif %}
                                <div class="col-3">
                                    <p class="text-right mt-5"><small class="text-muted"></small>{{ annonce.createdAt ? annonce.createdAt|date('d-m-Y') : '' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Pas encore d'annonce</p>     
        {% endfor %}
    </div>
{% endblock %}
