{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Liste des annonces</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Date de publication</th>
                    <th>Prix</th>
                    <th>Type</th>
                    <th>Categorie</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.titre }}</td>
                    <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d') : '' }}</td>
                    <td>{{ annonce.prix }}</td>
                    <td>{{ annonce.type }}</td>
                    <td>{{ annonce.categorie}}</td>
                    <td>
                        <img src="{{ asset('uploads/images/annonces/')}}{{ annonce.image }}" class="images">
                    </td>
                    <td>{{ annonce.description }}</td>
                    <td>

                        <a href="{{ path('annonce_show', {'id': annonce.id}) }}">Afficher</a>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') and user.id == annonce.user.id %}
                            <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="mx-3">Modifier</a>
                            <a href="{{ path('annonce_delete', {'id': annonce.id}) }}">Supprimer</a>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas encore d'annonce</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('annonce_new') }}">Déposer une annonce</a>
    </div>
{% endblock %}
