{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <div class='container'>
        <h1 class='text-center'>Annonce</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ annonce.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ annonce.titre }}</td>
                </tr>
                <tr>
                <th>Publiée le </th>
                <td>{{ annonce.createdAt ? annonce.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ annonce.type }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ annonce.prix }}</td>
                </tr>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ annonce.categorie }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ annonce.description }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ annonce.image }}</td>
                </tr>
            </tbody>
        </table>


        <div class="row">
            <button class="btn mb-4"><a href="{{ path('annonce_index') }}" class="text-white">Revenir à la liste</a></button>

            <button class="btn mb-4 mx-3"><a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="text-white">Modifier</a></button>

            {{ include('annonce/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
