<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/carousel.css')}}">
            <link rel="stylesheet" href="cookiealert.css">
            
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a href="{{ path("acceuil") }}" class="logo"><em>LeBonPlan</em></a>
                    <div class="collapse navbar-collapse font-weight-bold mx-3" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path("acceuil") }}">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active mx-2">
                                <a class="nav-link" href="{{ path("annonce_index") }}">Consulter les offres</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path("annonce_new") }}"><ion-icon name="add-circle-outline"></ion-icon>Déposer une annonce</a>
                            </li>
                            <form  method="get" action="{{ path('search_query') }}" class="form-inline inpbtnrecherche  mt-2 mt-md-0">
                                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Bonne affaire..." aria-label="Search">
                                <button class="btn text-white btnrecherche font-weight-bold my-2 my-sm-0" type="submit">Dénicher</button>
                            </form>
                        </ul>                 
                    </div>
                    <div class="user">
                        <ul>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">
                                    <a href="{{ path('user')}}" class="font-weight-bold nav-link">{{ app.user.pseudo }}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{path('app_logout')}}" class="font-weight-bold nav-link"><ion-icon name="person-remove-outline"></ion-icon>Déconnexion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="font-weight-bold nav-link"><ion-icon name="heart-circle-outline"></ion-icon>Favoris</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{{path('app_login')}}" class="font-weight-bold nav-link"><ion-icon name="person-circle-outline"></ion-icon>Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{path('app_register')}}" class="font-weight-bold nav-link"><ion-icon name="person-add-outline"></ion-icon>Inscription</a>
                                </li>
                            {% endif %}                   
                        
                        </ul>
                    </div>
                </nav>
            
                {% block flash %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endblock %}

            </div>
        {% endblock %} 


        {% block body %}{% endblock %}
         {% block footer %}
            <div class="container-fluid footer bg-dark font-weight-bold text-light text-center py-3">
                <div class="dropdown show mb-3">
                    {# <a class="mx-5 btn1" href="{{ path('contact_index')}}">Contactez-nous</a> #}
                    <a class="btn1 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A propos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path("confidentialite") }}">Politique de confidentialité</a>
                        <a class="dropdown-item" href="{{path("propos") }}">A propos de Vidressing</a>
                        <a class="dropdown-item" href="{{path("cookies") }}">Cookies</a>
                    </div>
                </div>
                <div class="mb-4">
                    <a href="https://www.facebook.com/"><ion-icon class="rsociaux" name="logo-facebook"></ion-icon></a>
                    <a href="https://api.whatsapp.com/send?phone=0197888121" target="_blank"><ion-icon class="rsociaux" name="logo-whatsapp"></ion-icon></a>
                    <a href="https://twitter.com/login?lang=fr"><ion-icon class="rsociaux" name="logo-twitter"></ion-icon></a>
                </div>
                <div class="row">
                    <div class="col">
                        &copy <?php echo date('Y') ?> - Vidressing - Tous droits réservés
                    </div>
                </div>
            </div>     
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <!-- Bootstrap core JavaScript================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
            <script src="{{ asset('js/holder.min.js')}}"></script>
            <script src="cookiealert-standalone.js"></script>       
        {% endblock %} 
    </body>
</html>
