{% extends 'base.html.twig' %}

{% block title %}Profil {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mb-5">Mes informations : </h1>
        
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Pseudo</th>
                        <td>{{ app.user.pseudo }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ app.user.adresse }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('user_modifier')}}">Modifier le profil</a>
            <a href="{{ path('user_pass_modifier')}}">Modifier le mot de passe</a>
        </div>

        <h1 class="mb-5">Mes annonces ({{ app.user.annonces|length }}) </h1>
        {% for annonce in app.user.annonces %}
            <p>Titre: <a href="{{ path('annonce_show', {'id': annonce.id}) }}">{{ annonce.titre }}</a></p>
            {% else %}
                <tr>
                    <p>Pas encore d'annonce en ligne</p>
                </tr>            
        {% endfor %}

    </div>
{% endblock %}
